<a href="https://colab.research.google.com/github/llDanieLll/Demo_Basics/blob/master/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. C
3. R

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. stringr
3. dplyr

|Data Science Tools|
|-|
|Kylo|
|My SQL|
|Apache AirFlow|

###Below are a few examples of evaluating arithmetic expression in Python

In [1]:
#This a simple arihmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Objectives:
+ R
- Python
* SQL

##Author
Jiahao Qiu